In [6]:
#with open("weather_data.csv") as data_file:
#   data = data_file.readlines()
#   print(data)

___

### csv module

In [12]:
import csv

with open("weather_data.csv") as data_file:
    data = csv.reader(data_file)
    temperatures = [] 
    for row in data:
        if row[1] != "temp":
            temperatures.append(int(row[1]))
    print(temperatures)

[12, 14, 15, 14, 21, 22, 24]

___

In [18]:
import pandas as pd

data = pd.read_csv("weather_data.csv")
data["temp"].mean()
data["temp"].max()

24

In [19]:
data[data["temp"] == data["temp"].max()]

      day  temp condition
6  Sunday    24     Sunny

In [23]:
# convert to fharneheit
monday = data[data.day == "Monday"]

monday_fharheneit =  (monday.temp * 9/5) + 32
monday_fharheneit

0    53.6
Name: temp, dtype: float64